/* Set map height explicitly, defines size of div element containing map */
#edit-trip-page-map {
    height: 500px;
    width: 100%;
}

#restaurants-page-map {
    height: 500px;
    width: 100%;
}

.restaurant-list {
    height: 700px;
    width: 100%;
    overflow: scroll;
}

.custom-button-defaults {
    width: 100%
}

.green{
    color: green;
}
  
.red{
    color: red;
}