{% extends 'base.html' %}

{% block title %}Create Trip Page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col">
            <div id="trip_info">
                <h2>New Trip info for {{ session["username"] }}</h2>
                <form action="/create-trip" method="POST" id="create-trip-form">
                    <p>
                        Trip Name <input type="text" name="trip_name">
                    </p>
                
                    <p>
                        Trip Description <input type="text" name="trip_description">
                    </p>
    
                    <div>
                        <button type="submit" class="btn btn-primary" form="create-trip-form">Create Trip!</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}