{% extends 'base.html' %}

{% block title %}Edit Trip Page{% endblock %}
{% block head %}
<script type="module" src="static/js/edit_trip_map.js"></script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
{% endblock %}

{% block content %}
<h1>Edit Trip</h1>
<div class="row" style="margin-bottom: 5px;">
		<div class="col-md-4 col-sm-12">
			<h4>Trip name: <span id="trip-name-span">{{ trip.trip_name }}</span></h4>
			<form id="change-trip-name-form">
				<div class="form-group">
					New name (optional):
					<input class="form-control" type="text" name="new-trip-name" id="new-trip-name-field" placeholder="name">
				</div>
				<div class="form-group">
					<button class="btn btn-primary mt-2" type="submit">Change Name</button>
				</div>
			</form>
		</div>

		<div class="col-md-8 col-sm-12">
			<h4>Trip description: <span id="trip-description-span">{{ trip.trip_description }}</span></h4>
			<form id="change-trip-description-form">
				<div class="form-group">
					New description (optional):
					<input class="form-control" type="text" name="new-trip-description" id="new-trip-description-field" placeholder="description">
				</div>
				<div class="form-group">
					<button class="btn btn-primary mt-2" type="submit">Change Description</button>
				</div>
			</form>
		</div>
</div>

<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="directions-list" style="padding: 5px;">
			<b>All stops on the trip</b>
			<form action="/edit-trip-remove-stops" , method="POST" id="remove-stops-form">
				{% for restaurant in trip.restaurants %}
				<div class="card">
					<div class="row no gutters">
						<div class="col-8">
							<div class="card-body">
								<h5 class="card-title">
									<input type="checkbox" name="remove_stops" id="restaurant{{ loop.index }}" value="{{ restaurant.restaurant_id }}">
									<label for="restaurant{{ loop.index }}">
										<span>Restaurant: {{ restaurant.restaurant_name }}</span>
									</label>
								</h5>
								<div class="card-text">
									<br>{{ restaurant.restaurant_address }}
								</div>
							</div>
						</div>
						<div class="col-4">
							<img src="{{ restaurant.restaurant_icon }}" class="restaurant-listing-img float-end rounded">
						</div>
					</div>
				</div>
				{% endfor %}
			</form>
		</div>
	</div>
	<div class="col-md-6 col-sm-12">
		<div class="directions-list" style="padding: 5px;">
			<div class="card">
				<div class="card-body">
					<div class="card-text">
						<div id="directions-panel">
							Select a start and end point below to generate directions for your trip!
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="directions-column">

		<button type="submit" form="remove-stops-form" class="btn btn-primary">
			Remove Stop(s) from Trip
		</button>

		<div>
			<button class="btn btn-danger" type="button" data-bs-toggle="modal" data-bs-target="#modal-remove" aria-expanded="false" aria-controls="modal-remove" style="margin-top: 5px;">
				Delete This Trip
			</button>
		</div>
		<div class="modal fade" id="modal-remove" tabindex="-1" aria-labelledby="modal-remove-label" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal-remove-label">Are You Sure?</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="card" id="login">
							<div class="card-body">
								<h5 class="card-title">Select 'Delete Trip' Below to Confirm</h5>
								<div class="card-text">
									<b>{{ trip.trip_name }}</b>
									<br>{{ trip.trip_description }}
								</div>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-info" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
						<form action="/remove-trips" , method="POST" id="edit-page-delete-trip">
							<div>
								<button type="submit" name="remove-trip" class="btn btn-danger" value="{{ trip.trip_id }}" form="edit-page-delete-trip">
									Delete Trip
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="directions-column">

		<form id="enter-address-form">
			<div class="form-group">
				Your starting address:
				<input class="form-control" type="text" name="enter-address" id="enter-address-field" placeholder="Address">
			</div>
			<div class="form-group">
				<button class="btn btn-primary mt-2" type="submit">Confirm Address</button>
			</div>
		</form>
		
		<div style="margin-top: 5px;">
			<div id="endPointForm" class="dropdown">
				<button onclick="getEndPoint(-1)" class="btn btn-info">Select End Point</button>
				<div id="endPointDropdown" class="dropdown-content">
					<div class="d-grid gap-1 mx-auto">
						{% for restaurant in trip.restaurants %}
						<button onclick="getEndPoint({{ loop.index }})" id="clicked-restaurant-{{ loop.index }}" value="{{ restaurant.restaurant_id }}" class="btn btn-info">
							{{ restaurant.restaurant_name }}
						</button>
						{% endfor %}
					</div>
				</div>
			</div>
			<button id="get-directions" class="btn btn-dark">Get Directions</button>
			<button id="maps-url" class="btn btn-success">Get Full Directions from Google Maps</button>
		</div>

		<div id="startpoint-choice"></div>
		<div id="endpoint-choice"></div>

	</div>
</div>

<div class="row">
	<!-- Div that encapsulates the map info and element -->
	<div class="col-12">

		<h3>Map of Stops on the "<span id="trip-map-span">{{ trip.trip_name }}</span>" Trip!</h3>

		<!-- The div element for the map -->
		<div id="edit-trip-page-map" class="map-styling"></div>

		<!-- prettier-ignore -->
		<script>(g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })
				({ key: `{{ MAPS_KEY }}`, v: "weekly" });</script>

	</div>
</div>

<div class="row" style="margin-top: 5px;">
	<div class="col-12">
		<div class="form-check restaurant-list">
			<form action="/edit-trip-add-stops" , method="POST" id="trip-add-stops-form">
				<div class="accordion" id="trip-restaurant-accordion">
					<div class="accordion-item">
						{% set count = [] %}
						{% for state in sorted(restaurant_state_dict) %}
						<h2 class="accordion-header restaurant-accordion-head" id="trip-heading-{{ state }}">
							<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#trip-collapse-{{ state }}" aria-expanded="true" aria-controls="trip-collapse-{{ state }}">
								{{ list(restaurant_state_dict[state].keys())[0] }}
							</button>
						</h2>
						{% for restaurant in restaurant_state_dict[state][list(restaurant_state_dict[state].keys())[0]] %}
						<div id="trip-collapse-{{ state }}" class="accordion-collapse collapse" aria-labelledby="trip-heading-{{ state }}">
							<div class="accordion-body bg-light card-styling">
								<div class="card">
									<div class="row no gutters">
										<div class="col-9">
											<div class="card-body">
												<h5 class="card-title">
													<input type="checkbox" name="add_stops" id="restaurant{{ count|length + 1 }}" value="{{ restaurant.restaurant_id }}">
													<label for="restaurant{{ count|length + 1 }}">
														<span>Restaurant: {{ restaurant.restaurant_name }}
															<span id="trip-add-stop-id-{{ count|length + 1 }}" class="invisible">{{ restaurant.restaurant_id }}</span>
															{% set add = count.append(1) %}
														</span>
													</label>
												</h5>
												<div class="card-text">
													{{ restaurant.restaurant_description }}
													<br>{{ restaurant.restaurant_address }}
												</div>
											</div>
										</div>
										<div class="col-3">
											<img src="{{ restaurant.restaurant_icon }}" class="restaurant-listing-img float-end rounded">
										</div>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						{% endfor %}
					</div>
				</div> <!--accordion end-->
			</form>
		</div>
	</div>
	<button type="submit" class="btn btn-primary" form="trip-add-stops-form" style="margin-top: 5px;">Add Stop(s) to Trip</button>
</div>

<script src="/static/js/edit_trip.js"></script>
{% endblock %}