{% extends 'base.html' %}

{% block title %}Edit Trips Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-7">
            <div id="all_trips">
                <h1>Edit Trips for {{ session["username"] }}</h1>
                <form action="/edit-trip", method="POST">
                        <!-- I have a triple nested for loop here, any ideas for more efficiency? -->
                        {% for trip in trips %}
                        <p>
                            <input type="radio" name="edit_trip" value="{{ trip.trip_id }}">
                                <label for="edit_trip_id_{{ trip.trip_id }}">
                                    <h2>Trip Name: {{ trip.trip_name }}</h2>
                                    <h3>Stop Restaurants</h3>
                                    {% for stop in stops if stop.trip_id == trip.trip_id %}
                                        {% for restaurant in restaurants if stop.restaurant_id == restaurant.restaurant_id %}
                                            <div>Stop Restaurant Name: {{ restaurant.restaurant_name }}</div>
                                        {% endfor %}
                                    {% endfor %}
                                </label>
                        </p>
                        {% endfor %}
                    <input type="submit" value="Edit Selected Trip">
                </form>
            </div>

            <div id="return_profile_from_edit_trips">    
                <form action="/profile" method="get">
                    <button type="submit" class="return_profile_from_edit_trips_button">
                        Return to profile page
                    </button>
                </form>    
            </div>
        </div>

        <div class="col">
            <img src="static/img/attachment-guys-diner-background.jpg" alt="GuyDDDSign">
        </div>
    </div>
</div>
{% endblock %}