{% extends 'base.html' %}

{% block title %}Edit Trip Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <!-- <div class="col-7"> -->
            <div id="single_trip_edit">
                <h1>Edit Trip Page</h1>
                <div>Trip name: <span id="trip-name-span">{{ trip.trip_name }}</span></div>
                <div>Trip desc: <span id="trip-description-span">{{ trip.trip_description }}</span></div>

                <form id="change-trip-name-form">
                    <div class="form-group">
                      New name (optional): 
                      <input class="form-control" type="text" name="new-trip-name"
                            id="new-trip-name-field" placeholder="name">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary mt-2" type="submit">Change Name</button>
                    </div>
                </form>

                <form id="change-trip-description-form">
                    <div class="form-group">
                      New description (optional): 
                      <input class="form-control" type="text" name="new-trip-description"
                            id="new-trip-description-field" placeholder="description">
                    </div>
                    <div class="form-group">
                      <button class="btn btn-primary mt-2" type="submit">Change Description</button>
                    </div>
                </form>

                <form action="/edit-trip-remove-stops", method="POST">
                    {% for restaurant in trip.restaurants %}
                        <div>
                            <input type="checkbox" name="remove_stops" value="{{ restaurant.restaurant_id }}">
                            <label for="restaurant{{ loop.index }}">
                                <div>Stop {{ loop.index }}: {{ restaurant.restaurant_name }}; {{ restaurant.restaurant_address }} </div>
                            </label>
                        </div>
                    {% endfor %}
                <input type="submit" value="Remove Stop(s) from Trip">
                </form>

                <div id="return_profile_from_trips">    
                    <form action="/profile" method="get">
                        <button type="submit" class="return_profile_from_trips_button">
                            Return to profile page
                        </button>
                    </form>    
                </div>

                <div class="col">
                    <img src="static/img/attachment-guys-diner-background.jpg" alt="GuyDDDSign">
                </div>

                <form action="/edit-trip-add-stops", method="POST">
                    {% for restaurant in restaurants %}
                    <div>
                        <input type="checkbox" name="add_stops" value="{{ restaurant.restaurant_id }}">
                        <label for="restaurant{{ loop.index }}">
                            <div>Restaurant {{ restaurant.restaurant_id }}: {{ restaurant.restaurant_name }}; {{ restaurant.restaurant_address }} </div>
                        </label>
                    </div>
                    {% endfor %}
                    <input type="submit" value="Add Stop(s) to Trip">
                </form>
                
            </div>
        </div>

        <div class="col">
            <img src="static/img/attachment-guys-diner-background.jpg" alt="GuyDDDSign">
        </div>
    </div>
</div>

<script src="/static/js/trip_planner_ajax.js"></script>

{% endblock %}