{% extends 'base.html' %}

{% block title %}Edit Trip Page{% endblock %}
{% block head %}
<script type="module" src="static/js/maps_api.js"></script>
<script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
{% endblock %}

{% block content %}
    <div class="row">
        <div id="return_profile_from_trips">    
            <form action="/profile" method="get">
                <button type="submit" class="return_profile_from_trips_button">
                    Return to profile page
                </button>
            </form>    
        </div>

        <div id="single_trip_edit">
            <h1>Edit Trip Page</h1>
            <div>Trip name: <span id="trip-name-span">{{ trip.trip_name }}</span></div>
            <div>Trip desc: <span id="trip-description-span">{{ trip.trip_description }}</span></div>

            <form id="change-trip-name-form">
                <div class="form-group">
                    New name (optional): 
                    <input class="form-control" type="text" name="new-trip-name"
                        id="new-trip-name-field" placeholder="name">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary mt-2" type="submit">Change Name</button>
                </div>
            </form>

            <form id="change-trip-description-form">
                <div class="form-group">
                    New description (optional): 
                    <input class="form-control" type="text" name="new-trip-description"
                        id="new-trip-description-field" placeholder="description">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary mt-2" type="submit">Change Description</button>
                </div>
            </form>

            <form action="/edit-trip-remove-stops", method="POST">
                <div class="directions-column">
                    {% for restaurant in trip.restaurants %}
                        <div>
                            <input type="checkbox" name="remove_stops" value="{{ restaurant.restaurant_id }}">
                            <label for="restaurant{{ loop.index }}">
                                <div>Stop {{ loop.index }}: {{ restaurant.restaurant_name }}; {{ restaurant.restaurant_address }} </div>
                            </label>
                        </div>
                    {% endfor %}
                </div>
                    
                    
                <div id="directions-panel" class="directions-column directions-list">
                    Select a start and end point below to generate directions for your trip!
                </div>
                    
                <div class="directions-column">
                    <input type="submit" value="Remove Stop(s) from Trip">
                    
                </div>
            </form>

            <div class="directions-column">

                <form id="enter-address-form">
                    <div class="form-group">
                        Your starting address: 
                        <input class="form-control" type="text" name="enter-address"
                            id="enter-address-field" placeholder="Address">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary mt-2" type="submit">Confirm Address</button>
                    </div>
                </form>

                <!-- LIKELY TO ELIMINATE FORM DUE TO HAVING USER INPUT START ADDRESS
                    <div id="startPointForm" class="dropdown">
                    <button onclick="getStartPoint(-1)" class="dropbtn">Select Start Point</button>
                    <div id="startPointDropdown" class="dropdown-content">
                        {% for restaurant in trip.restaurants %}
                            <button onclick="getStartPoint({{ loop.index }})" id="clicked-restaurant-{{ loop.index }}" value="{{ restaurant.restaurant_id }}">
                                {{ restaurant.restaurant_name }}
                            </button>
                        {% endfor %}
                    </div>
                </div> -->

                <div id="endPointForm" class="dropdown">
                    <button onclick="getEndPoint(-1)" class="dropbtn">Select End Point</button>
                    <div id="endPointDropdown" class="dropdown-content">
                        {% for restaurant in trip.restaurants %}
                        <button onclick="getEndPoint({{ loop.index }})" id="clicked-restaurant-{{ loop.index }}" value="{{ restaurant.restaurant_id }}">
                            {{ restaurant.restaurant_name }}
                        </button>
                        {% endfor %}
                    </div>
                </div>
                
                <div class="dropdown">
                    <button id="get-directions" class="dropbtn">Get Directions</button>
                </div>
                
                <!-- <form action="/route-to-maps" class="dropdown"> -->
                    <button id="maps-url" class="dropbtn">Get Full Directions from Google Maps</button>
                <!-- </form> -->

                <div id="startpoint-choice"></div>
                <div id="endpoint-choice"></div>
                
            </div>

            
            <!-- Div that encapsulates the map info and element -->
            <div class="col">

                <h3>Map of Stops on the "<span id="trip-map-span">{{ trip.trip_name }}</span>" Trip!</h3>

                <!-- The div element for the map -->
                <div id="edit-trip-page-map"></div>

                <!-- prettier-ignore -->
                <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
                    ({key: `{{ MAPS_KEY }}`, v: "weekly"});</script>
                
            </div>

            <div class="accordion" id="trip-restaurant-accordion">
                <div class="accordion-item">
                {% set count = [] %}
                {% for state in sorted(restaurant_state_dict) %}
                  <h2 class="accordion-header" id="trip-heading-{{ state }}">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#trip-collapse-{{ state }}" aria-expanded="true" aria-controls="trip-collapse-{{ state }}">
                      {{ list(restaurant_state_dict[state].keys())[0] }}
                    </button>
                  </h2>
                  {% for restaurant in restaurant_state_dict[state][list(restaurant_state_dict[state].keys())[0]] %}
                      <div id="trip-collapse-{{ state }}" class="accordion-collapse collapse" aria-labelledby="trip-heading-{{ state }}">
                        <div class="accordion-body">
                            <input type="checkbox" name="add_stops" value="{{ restaurant.restaurant_id }}" class="form-check-input">
                            <div>
                                <label for="restaurant{{ loop.index }}" class="form-check-label">
                                    <div><b>{{ restaurant.restaurant_name }}.</b> Address: {{ restaurant.restaurant_address }} </div>
                                </label>
                            </div>
                            <input type="submit" value="Add Stop(s) to Trip">
                            {% set add = count.append(1) %}
                        </div>
                      </div>
                  {% endfor %}
                {% endfor %}
                </div>
            </div> <!--accordion-->

            <div class="form-check restaurant-list">
                <form action="/edit-trip-add-stops", method="POST">
                    {% for restaurant in restaurants %}
                        <input type="checkbox" name="add_stops" value="{{ restaurant.restaurant_id }}" class="form-check-input">
                            <div>
                                <label for="restaurant{{ loop.index }}" class="form-check-label">
                                    <div><b>{{ restaurant.restaurant_name }}.</b> Address: {{ restaurant.restaurant_address }} </div>
                                </label>
                            </div>
                    {% endfor %}
            
                <input type="submit" value="Add Stop(s) to Trip">
                </form>
            </div>
            
        </div>

        <div class="col">
            <img src="static/img/attachment-guys-diner-background.jpg" alt="GuyDDDSign">
        </div>
    </div>

<script src="/static/js/edit_trip.js"></script>

{% endblock %}