{% extends 'base.html' %}

{% block title %}WERE ROLLING OUT! soon...{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <div id="welcome">
        <h2>Welcome</h2>
        <p>WE'RE ROLLING OUT! soon...</p>
      </div>

      <h1>
        <a href="https://www.foodnetwork.com/restaurants/shows/diners-drive-ins-and-dives/a-z">Rolling Out in progress...</a>
      </h1>

      <h1>
        <a href="/restaurants">Restaurant Listing</a>
      </h1>
    </div>

    <div class="col">
      <img src="static/img/attachment-guys-diner-background.jpg" alt="GuyDDDSign">
    </div>
  </div>
</div>
{% endblock %}