{% extends 'base.html' %}

{% block title %}WERE ROLLING OUT! soon...{% endblock %}

{% block content %}
<div class="row ">
  <div class="col">
    <div id="welcome">
      <h2>Welcome {% if "username" in session %}{{ session["username"] }}{% endif %}</h2>
      <p>Let's get rolling! Check out the restaurants tab or use the Login button on the top right to roll out!</p>
    </div>
  
  </div>
  <div>
    <h2>
      <a href="/all-users">View all Users (Dev only)</a>
    </h2>
  </div>
  <div>
    <h2>
      <a href="/all-badges">View all Badges (Dev only)</a>
    </h2>
  </div>

  <div class="col text-center align-self-center">
    <img src="static/img/attachment-guys-diner-background.jpg" alt="GuyDDDSign">
  </div>
</div>
{% endblock %}