{% extends 'base.html' %}

{% block title %}Restaurant Page{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <div id="restaurantList">
        {% for restaurant in restaurants %}
          <p>
            <div>Restaurant: {{ restaurant.restaurant_name }}</div>
            <div>Description: {{ restaurant.restaurant_description }}</div>
            <div>Address: {{ restaurant.restaurant_address }}</div>
            <div>Img: {{ restaurant.restaurant_icon }}</div>
          </p>
        {% endfor %}
        <!-- <p>Soup: {{ soup }}</p>  -->
      </div>
    </div>

    <div class="col">
      <img src="static/img/attachment-guys-diner-background.jpg" alt="GuyDDDSign">
    </div>
  </div>
</div>
{% endblock %}