{% extends 'base.html' %}

{% block title %}Restaurant Page{% endblock %}
{% block head %}<script type="module" src="static/js/all_restaurants_map.js"></script>{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- <div class="col-7"> -->
      <!-- Map Div location above the restaurant list -->
      <div class="col">

        <h3>Map of All Diner's, Drive-in's, & Dive's!</h3>

        <!-- The div element for the map -->
        <div id="restaurants-page-map"></div>

        <!-- prettier-ignore -->
        <!-- <script>(g=>{var h,a,k,p="The Google Maps JavaScript API",c="google",l="importLibrary",q="__ib__",m=document,b=window;b=b[c]||(b[c]={});var d=b.maps||(b.maps={}),r=new Set,e=new URLSearchParams,u=()=>h||(h=new Promise(async(f,n)=>{await (a=m.createElement("script"));e.set("libraries",[...r]+"");for(k in g)e.set(k.replace(/[A-Z]/g,t=>"_"+t[0].toLowerCase()),g[k]);e.set("callback",c+".maps."+q);a.src=`https://maps.${c}apis.com/maps/api/js?`+e;d[q]=f;a.onerror=()=>h=n(Error(p+" could not load."));a.nonce=m.querySelector("script[nonce]")?.nonce||"";m.head.append(a)}));d[l]?console.warn(p+" only loads once. Ignoring:",g):d[l]=(f,...n)=>r.add(f)&&u().then(()=>d[l](f,...n))})
            ({key: `{{ MAPS_KEY }}`, v: "weekly"});</script> -->
        
      </div>

      <div class="form-check restaurant-list">
        <form action="/add-favorites", method="POST">
        {% for restaurant in restaurants %}
          <input type="checkbox" name="restaurant" value="{{ restaurant.restaurant_id }}" class="form-check-input">
            <label for="restaurant{{ loop.index }}" class="form-check-label">
              <div><b>Restaurant: <span id="all-fav-name-{{ loop.index }}">{{ restaurant.restaurant_name }}</span></b></div>
              <span id="favorites-thumbs">
                <button class="btn" id="all-green"><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i></button>
                <button class="btn" id="all-red"><i class="fa fa-thumbs-down fa-lg" aria-hidden="true"></i></button>
              </span>
              <span id="all-fav-id-{{ loop.index }}" class="invisible">{{ restaurant.restaurant_id }}</span>
            </label>
              <div>Description: {{ restaurant.restaurant_description }}</div>
              <div>Address: {{ restaurant.restaurant_address }}</div>
              <!-- <div>Img: {{ restaurant.restaurant_icon }}</div> -->
        {% endfor %}
      </div>
        <input type="submit" value="Add to Favorites">
      </form>

      <div id="return-home-from-all">    
        <form action="/" method="get">
            <button type="submit" class="custom-button-defaults btn btn-primary">
              Return to home page
            </button>
        </form>    
      </div>

    <div class="col">
      <img src="static/img/attachment-guys-diner-background.jpg" alt="GuyDDDSign">
    </div>
  </div>
</div>

<script type="module" src="static/js/restaurants.js"></script>

{% endblock %}