{% extends 'base.html' %}

{% block title %}Restaurant Page{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-7">
      <div id="restaurantList">
        <form action="/add-favorites", method="POST">
        {% for restaurant in restaurants %}
          <input type="checkbox" name="restaurant" value="{{ restaurant.restaurant_id }}">
            <label for="restaurant{{ loop.index }}">
              <p>
                <div>Restaurant: {{ restaurant.restaurant_name }}</div>
                <div>Description: {{ restaurant.restaurant_description }}</div>
                <div>Address: {{ restaurant.restaurant_address }}</div>
                <div>Img: {{ restaurant.restaurant_icon }}</div>
              </p>
            </label>
          <!-- {% if loop.index%15 == 0 %}
            <div id="return_home_from_all">    
              <form action="/" method="get">
                  <button type="submit" class="return_home_from_all_button">
                    Return to home page
                  </button>
              </form>    
            </div>
          {% endif %} -->

        {% endfor %}
        <input type="submit" value="Add to Favorites">
        </form>
      </div>
    </div>

    <div class="col">
      <img src="static/img/attachment-guys-diner-background.jpg" alt="GuyDDDSign">
    </div>
  </div>
</div>
{% endblock %}