{% extends 'base.html' %}

{% block title %}Trips Page{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-7">
            <div id="all_trips">
                <h1>All Trips</h1>
                <!-- <form action="/remove-favorites", method="POST"> -->
                <!--{% for restaurant in favorites %}
                    <p>
                        <input type="checkbox" name="remove_favorite" value="{{ restaurant.restaurant_id }}">
                            <label for="remove_favorite{{ loop.index }}">
                                <div>Username: {{ session["username"] }}</div>
                                <div>Restaurant: {{ restaurant.restaurant_name }}</div>
                            </label>
                    </p>
                {% endfor %}
                        <input type="submit" value="Remove from Favorites">
                </form>
                </div>
                <div id="return_profile_from_favorites_">    
                <form action="/profile" method="get">
                    <button type="submit" class="return_profile_from_favorites_button">
                        Return to profile page
                    </button>
                </form>-->
            
                {% for trip in trips %}
                <p>
                    <!-- <input type="checkbox" name="remove_trip" value="{{ trip.trip_id }}">
                        <label for="remove_trip_id_{{ trip.trip_id }}"> -->
                            <div>Username: {{ session["username"] }}</div>
                            <div>Trip: {{ trip.trip_id }}</div>
                        </label>
                </p>
                {% endfor %}
            </div>
        </div>

        <div class="col">
            <img src="static/img/attachment-guys-diner-background.jpg" alt="GuyDDDSign">
        </div>
    </div>
</div>
{% endblock %}